@tailwind base;
@tailwind components;
@tailwind utilities;

/* Here are the custom styles created using style guide for Little Lemon Restaurant */
*{
  /* border: 1px solid black; */
}

.title{
  line-height: 1;
  @apply
  font-markaziText
  font-medium
  text-[5vw]
}
.subtitle{
  line-height: 1;
  @apply
  font-karla
  font-medium
  text-[2vw]
}
.lead-text{
  line-height: 1;
  @apply
  font-karla
  font-semibold
  text-[1.5vw]
}
.section-title{
  line-height: 1;
  @apply
  font-karla
  font-extrabold
  uppercase
  text-[1.6vw]
}
.section-cat{
  line-height: 1;
  @apply
  font-karla
  font-extrabold
  text-[1.3vw]
}
.p{
  line-height: 1.5;
  @apply
  font-karla
  font-normal
  text-[1.3vw]
  max-w-[65ch]
}
.card-title{
  @apply
  font-karla
  font-bold
  text-[1.5vw]
}
.hl{
  @apply
  font-karla
  font-medium
  text-[1.3vw]
}
@import './ui/css/App.css';

@import './ui/css/atomics/VerticalLinks.css';
@import './ui/css/atomics/BackgroundGrid.css';
@import './ui/css/atomics/Card.css';
@import './ui/css/atomics/ReviewCard.css';

@import './ui/css/composites/TopNav.css';
@import './ui/css/composites/Main.css';
@import './ui/css/composites/BotNav.css';
@import './ui/css/composites/Hero.css';
@import './ui/css/composites/Highlight.css';
@import './ui/css/composites/Review.css';
@import './ui/css/composites/AboutComp.css';

@import './ui/css/pages/Home.css';
@import './ui/css/pages/Menu.css';
@import './ui/css/pages/Login.css';
@import './ui/css/pages/OrderOnline.css';
@import './ui/css/pages/Reservations.css';